<h2 class="mb-5">Sign In</h2>
<form class="form-auth">
  <div class="form-group mb-5">
    <input type="text" class="form-control" placeholder="Email address" required autofocus>
  </div>
  <div class="form-group mb-5">
    <input type="password" class="form-control" placeholder="Password" required>
  </div>
  <div class="form-group text-left mb-5">
    <md-checkbox color="primary">Remember me</md-checkbox>
  </div>
  <button md-raised-button class="btn btn-lg btn-info btn-block" type="submit">Sign In</button>
</form>
