<section class="main-wrapper">
  <skael-navbar></skael-navbar>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left-side hidden-xs-down">
        <h1>
          Make intelligent B2B
          procurement & operations
          deciscions in seconds.
        </h1>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 right-side">
        <div class="home-auth form-wrapper p-lg-5">
          <skael-login></skael-login>
        </div>
      </div>
    </div>
  </div>
</section>
