<section class="auth-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 auth-box">
        <img src="assets/images/logo.png" class="img-logo">
        <router-outlet></router-outlet>
        <div class="mt-lg-5" routerLinkActive="hidden"><span>Don't you have account?</span><a routerLink="/signup" class="ml-1"> Sign up</a></div>
        <div class="mt-lg-5" routerLinkActive="hidden"><span>Already have an account?</span><a routerLink="/login" class="ml-1"> Sign in</a></div>
      </div>
    </div>
  </div>
</section>
