<section class="auth-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 auth-box">
        <img src="assets/images/logo.png" class="img-logo">
        <h1 class="text-center login-title">Sign Up</h1>
        <div class="account-wall">
          <form class="form-auth">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Full name" required autofocus>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Email address" required autofocus>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" required>
            </div>
            <button md-raised-button class="btn btn-lg btn-info btn-block" type="submit">Sign up</button>
            <div class="h-seperator">
              <span>or</span>
            </div>
            <button md-raised-button class="btn btn-lg btn-danger btn-block btn-social" type="button"><i class="fa fa-google" aria-hidden="true"></i>Sign up with Google</button>
          </form>
        </div>
        <div class="mt-lg-5"><span>Already have an account?</span><a routerLink="/login" class="ml-1"> Sign in</a></div>
      </div>
    </div>
  </div>
</section>
