{% macro backend_pass(environ) %}
    {% if not environ.DEBUG %}
        uwsgi_pass  unix:/var/run/backend/api/uwsgi.socket;
        include     uwsgi_params;
    {% else %}
        proxy_pass  http://api;
    {% endif %}
{% endmacro %}

{% macro server_config(environ) %}
    root /skael/dist;

    {% if environ.DEBUG %}
        location / {
            proxy_pass http://angular;
            proxy_buffering off;
            proxy_read_timeout 3600s;
            proxy_set_header Host localhost;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
        }
    {% endif %}

    location /auth {
        {{ backend_pass(environ) }}
    }

    location /users/ {
        {{ backend_pass(environ) }}
    }

    location /api {
        {{ backend_pass(environ) }}
    }
{% endmacro %}

worker_processes 1;

error_log stderr info;

events {
    worker_connections 1024;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format timed_combined '$remote_addr - $remote_user [$time_local] '
                              '"$request" $status $body_bytes_sent '
                              '"$http_referer" "$http_user_agent" '
                              '$request_time $upstream_response_time';
    access_log /dev/stdout timed_combined;

    sendfile        on;

    keepalive_timeout  65;

    server {
        listen 80;

        {{ server_config(environ) }}
    }
}
