<h2 class="mb-5">Sign Up</h2>
<form class="form-auth">
  <div class="form-group mb-5">
    <input type="text" class="form-control" placeholder="Full name" required autofocus>
  </div>
  <div class="form-group mb-5">
    <input type="text" class="form-control" placeholder="Email address" required autofocus>
  </div>
  <div class="form-group mb-5">
    <input type="password" class="form-control" placeholder="Password" required>
  </div>
  <button md-raised-button class="btn btn-lg btn-info btn-block" type="submit">Sign Up</button>
</form>
